*{
  padding: 0;
  margin: 0;
}

.background{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: linear-gradient(to bottom right, rgb(68, 0, 255), rgba(212, 0, 255, 0.966));
  min-height: 653px;
  min-width: 280px;
  /* max-height: 1000px; */
  /* @media (orientation:landscape) {
    
    min-width: 0;
    min-height:0;
  } */
}
.layer-1{
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 653px;
  min-width: 280px;
  /* max-height: 1000px; */
  /* @media (orientation:landscape) {
    min-width: 0;
    min-height:0;
  } */
}
.layer-1-container{
  width: 100%;

}

.container-1{
  background-color: rgba(18, 14, 241, 0.4);
  width: 85%;
  margin: 0 auto 0 auto;
  border-radius: 50px;
  border: 2px solid white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* @media (orientation:landscape) {
    flex-direction:row; 
    min-width: 0;
    min-height:0;
    height: 75vh;
  } */

  min-height: 495px;
  min-width: 238px;
}

.layer-1-description{
  height: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  /* @media (orientation:landscape) {
    height:100%;
    justify-content:space-evenly;
    width:35%;
  } */
  
}

.img-container-1{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  /* @media (orientation:landscape) {
    height: 100%;
    width:60%;
    padding-top: 0rem;
    padding-bottom: 0rem;
  } */
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.img-container-1 img{
  width: 100%;
  /* @media (orientation:landscape) {
    width: auto;
    height:100%;
  } */
}



.text-container{
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
  /* @media (orientation:landscape) {
    padding-bottom: 0rem;
  } */
}

.btn-container-1{
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  /* @media (orientation:landscape) {
    padding-bottom: 0rem;
  } */
}
.Listen-btn{
  height: 50px;
  border-radius: 12px;
  border: 1px solid black;

  font-size: 1.3rem;
  min-width: 200px;
  
}



 @media (min-width:480px) {
  .container-1{
    height: auto;
  }  
}

@media (min-width:600px){
  .background{
    min-width: 0; 
    min-height:280px;
  }
  .layer-1{
    min-width: 0;
    min-height:280px;
  }
  .container-1{
    flex-direction:row; 
    min-width: 0;
    min-height:210px;
    height: 75vh;
    justify-content: space-evenly;
  }
  .layer-1-description{
    height:100%;
    justify-content:space-evenly;
    width:35%;
  }
  .img-container-1{
    height: 100%;
    width:auto;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .img-container-1 img{
    width: auto;
    height: 80%;
  }
  .btn-container-1{
    padding-bottom: 0rem;
  }
  .text-container{
    padding-bottom: 0rem;
  }

}



 @media (min-width:1050px), (min-height:1000px){
  .container-1{
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 85%;
    min-width: 750px;
    max-width: 1000px;
    min-height: 450px;
    @media (min-width:1050px) and (min-height:1000px) {
      min-width: 800px;
      max-width: 1000px;
    }
    
  }
  .img-container-1{
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  .img-container-1 img{
    width: 100%;
  }
  .layer-1-description{
    justify-content: space-around;
    gap: 5rem;
  }
  .text-container{
    padding-bottom: 0;
  }
  .btn-container-1{
    padding-bottom: 0;
  }
  .layer-1{
    height: 60vh;
    min-height: 600px;
    min-width: 860px;
    @media (min-width:1050px) and (min-height:1000px) {
      min-height: 600px;
      max-height: 700px;
    }
  }
  .background{
    height: 60vh;
    min-height: 600px;
    min-width: 860px;
    @media (min-width:1050px) and (min-height:1000px) {
      min-height: 600px;
      max-height: 700px;
    }
  }

}

/*
@media (min-width:1280px){
  .layer-1{
    height: 100vh;
  }
  .background{
    height: 100vh;
  }
  .container-1{
    max-width: 1280px;
  }
  .img-container-1{
    width: 35%;
  }
  .img-container-1 img{
    width: 100%;
  }
}  */