* {
    padding: 0;
    margin: 0;
}
body{
    background-color: blueviolet;
    height: 1000vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .50);
    
}
.header-logo{
    color: #fff;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
.header-logo a{
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}
.hamburger{
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    appearance: none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: "";
    width: 100%;
    height: 5px;
    background-color: #fff;
    transition: .4s;

}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-9px,6px);
}

.hamburger.is-active .bar{
    transform: translate(-50px);
    opacity: 0;
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-7.5px,-6px);
}

.mobile-nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: aqua;

    
    align-items: center;
    padding-top: 120px;
    
    transition: .4s;
    
}
.mobile-nav.is-active{
    left: 0;

}

.mobile-nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    padding: 12px 16px;
    background-color: aquamarine;
    color: black;
    text-decoration: none;
    margin: 16px;

    font-size: 32px;

}

.mobile-nav a:hover{
    background-color: cornsilk;
}
.menu-container{
    padding: 0 3vw;
}

/* layer 1 */
.background{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: linear-gradient(to bottom right, rgb(68, 0, 255), rgba(212, 0, 255, 0.966));
    min-height: 653px;
    min-width: 280px;
  
  }
  .layer-1{
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 653px;
    min-width: 280px;
   
  }
  .layer-1-container{
    width: 100%;
  
  }
  
  .container-1{
    background-color: rgba(18, 14, 241, 0.4);
    width: 85%;
    margin: 0 auto 0 auto;
    border-radius: 50px;
    border: 2px solid white;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
  
    min-height: 495px;
    min-width: 238px;
  }
  
  .layer-1-description{
    height: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  
    
    
  }
  
  .img-container-1{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
   
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .img-container-1 img{
    width: 100%;
  
  }
  
  
  
  .text-container{
    text-align: center;
    color: #fff;
    padding-bottom: 2rem;
  
  }
  .text-container h1{
    font-size: 1.5rem;
    
  }
  .text-container h2{
    font-size: 2.5rem;
  
  }
  .text-container h3{
    font-size: 1.8rem;
   
  }  
  
  .btn-container-1{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
  
  }
  .Listen-btn{
    height: 50px;
    border-radius: 12px;
    border: 1px solid black;
  
    font-size: 1.3rem;
    min-width: 200px;
    
  }
  
/* media query for layer 1 */
  
   @media (min-width:480px) {
    .container-1{
      height: auto;
    }
    .text-container h1{
      font-size: 1.8rem;
    }
    .text-container h2{
      font-size: 3rem;
    }
    .text-container h3{
      font-size: 1.9rem;
    }  
  }
  
  @media (min-width:600px){
    .background{
      min-width: 0; 
      min-height:280px;
      max-height: 600px;
    }
    .layer-1{
      min-width: 0;
      min-height:280px;
      max-height: 600px;
    }
    .container-1{
      flex-direction:row; 
      min-width: 0;
      min-height:210px;
      max-height: 340px;
      height: 75vh;
      justify-content: space-evenly;
  
      
  
    }
    .layer-1-description{
      height:100%;
      justify-content:space-evenly;
      width:35%;
    }
    .img-container-1{
      height: 100%;
      width:auto;
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    .img-container-1 img{
      width: auto;
      height: 80%;
      
    }
    .btn-container-1{
      padding-bottom: 0rem;
    }
    .text-container{
      padding-bottom: 0rem;
    }
    .text-container h1{
      font-size: 1.8rem;
      @media screen and (max-height:280px){
        font-size:1.5rem;
      }
    }
    .text-container h2{
      font-size: 2.8rem;
      @media screen and (max-height:280px){
        font-size:2.5rem;
      }
    }
    .text-container h3{
      font-size: 2.1rem;
      @media screen and (max-height:280px){
        font-size:1.8rem;
      }
    } 
  }
  
  
  
   @media (min-width:1050px), (min-height:1000px){
    .container-1{
      flex-direction: row;
      justify-content: space-around;
      height: auto;
      width: 85%;
      min-width: 750px;
      max-width: 1000px;
      min-height: 450px;
      @media (min-width:1050px) and (min-height:1000px) {
        min-width: 800px;
        max-width: 1000px;
      }
      
    }
    .img-container-1{
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
    .img-container-1 img{
      width: 100%;
    }
    .layer-1-description{
      justify-content: space-around;
      gap: 5rem;
    }
    .text-container{
      padding-bottom: 0;
    }
    .btn-container-1{
      padding-bottom: 0;
    }
    .layer-1{
      height: 60vh;
      min-height: 600px;
      min-width: 860px;
      @media (min-width:1050px) and (min-height:1000px) {
        min-height: 600px;
        max-height: 700px;
      }
    }
    .background{
      height: 60vh;
      min-height: 600px;
      min-width: 860px;
      @media (min-width:1050px) and (min-height:1000px) {
        min-height: 600px;
        max-height: 700px;
      }
    }
  
  }
  @media (max-width:279px) {
    .background{
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      background-image: linear-gradient(to bottom right, rgb(68, 0, 255), rgba(212, 0, 255, 0.966));
      min-height: 653px;
      min-width: 280px;
      max-height: 700px;
    }
    .layer-1{
      height: 100vh;
      display: flex;
      align-items: center;
      min-height: 653px;
      min-width: 280px;
      max-height: 700px;
    }
  
    
    .container-1{  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
      min-height: 495px;
      min-width: 238px;
    }
    
  
    
    .img-container-1{
      width: 75%;
      height: 50%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  
    
    
    
    .btn-container-1{
      padding-bottom: 3rem;
    }
    
  }

/* level 2 layer */

.layer-2{
  height: 100vh;
  max-height: 500px;
  min-height: 625px;
  min-width: 280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #BE94D4;
}
.layer-2-title{
  margin: 1rem;
  font-size: 1.5em;
}
.layer-2 *{
  box-sizing: border-box;
}

  /* slider */
  .slide-container{
    /* this i will change the size of the slide container aka the side will be bigger */
    margin-bottom: 2rem;
    width: 100%;

  }
  .card-container{
    /* basically this will tell us how big the card will be at max size */
      min-height: 30vh;
      width: 100%;
  }
  .card{
    /* this i will tell me how big the card is in height */
      border-radius: 25px;
      background-color: #AB7AC4;
      display: flex;
      flex-direction: column;
      min-width: 200px;
      min-height: 500px;
      max-width: 500px;
      
  }
  .img-container{
      display: flex;
      justify-content: center;
      padding: 1rem;
      
  }
  .img-container img{
      width: 100%;
      border-radius: 25px 25px 0 0;
      object-fit: cover;
      min-height: 216px;
      
  }
  .description{
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      padding: 10px 14px;
  }
  .slide-content{
      margin: 0 16px;
  }
  .description p{
      text-align: center;
      font-size:1.1em;


      
      --max-lines: 3;
      --line-height: 2;
      line-height: var(--line-height);
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-lines);
  }
  
  .description h1{
      text-align: center;
      font-weight: 860;
      font-size: 1.3em;

      --max-lines: 3;
      --line-height: 1;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-lines);
  }
  .btn-container button{
      border: none;
      font-size: 16px;
      color:white;
      padding: 8px 16px;
      background-color: #5C6AC4;
      border-radius: 6px;
      margin: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  .btn-container button:hover{
      background-color: #82A3D9;
  }
  .btn-container{
      display: flex;
      justify-content: center;
  }


  @media (min-width:420px) and (min-height:0px) and (max-height:800px){
    .layer-2-title{
      /* display: none; */
    }
    .layer-2{
      height: 100%;
      min-height: 367px;
    } 
    .slide-container{
      /* this i will change the size of the slide container aka the side will be bigger */
      margin-bottom: 0rem;
      width: 100%;
  
    } 
    .card-container{
      /* basically this will tell us how big the card will be at max size */
        /* min-height: 30vh; */
        width: 100%;
        max-width: 1000px;
    }
    .card{
      /* this i will tell me how big the card is in height */
        border-radius: 25px;
        background-color: #AB7AC4;
        max-width: none;
        flex-direction: row;
        min-height: 280px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
        max-height: 380px;
        width: 95%;
        
    }
    .img-container{
      /* padding: .5rem .5rem 0rem .5rem; */
      height: 100vh;
      width: 60%;
      justify-content: flex-start;
      max-height: 380px;
    }
    .img-container img{
      width: 100%;
      max-width: 400px;
      height: 100%;
      border-radius: 25px  0 0 25px;
      object-fit: cover;
    }
    .description{
      width: 40%;
      justify-content: center;
    }
    /* @media screen and ( min-width: 550px) {
      .card{
        max-width: 250px;
      }
    } */
  }

  @media (min-height:801px) {
    .layer-2{
      max-height: 700px;
    }
    .card{
      max-width: 400px;
      min-height: 550px;
    }
    .description{
      justify-content: space-between;
    }
  }
  @media (min-width:2200px) {
    .slide-container{
      display: flex;
      justify-content: center;
    }
  }

    
    
    

    
